*.sqlite
.ipynb_checkpoints/**
**/.ipynb_checkpoints/**
surgeries/**
out/
# outputARACNE/
**.pyc
**/*.gmt
**.npz
**.npz.npy
**.npy
nb_tumorUMAP/gseapy_gsea/*
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P15_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P16_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P17_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P17_T3--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P18_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P19_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P20_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P21_T1--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P21_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P22_T1--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P23_T1--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P24_T1--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P4_T2--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P4_T3--matrix.h5ad
cache/root-datos-maestria-netopaas-Zuani2024-outputEmptyDrops-P8_T2--matrix.h5ad
